/*SIEMPRE EN APPWEB*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;  /*no aparezce barra scroll*/
    font-family: 'Roboto', sans-serif;

    --dark-grey:#888888;
    --border:solid 1px var(--dark-grey);

}

.app-container{
   display: flex;
   flex-direction: row;
   position: absolute;    
   width: 100vw;
   height: 100vh;
   top: 0;
}

.slidebar{
    min-width: 25rem;
    height: 100%;
    background-color: whitepink;
    border:var(--border);
 }

.button-container{
    display: flex;
    height: 3rem;
    border-bottom: var(--border);
}

.button{
    display:flex;
    align-items: center;
    padding: 0 1rem;
    margin: 0.5rem;
    border: var(--border);
    border-radius: 0.5rem;
    user-select: none;
    cursor: pointer;
}

.button-recarga{
  width: 3rem;
  text-align: center;
  display:flex;
  align-items: center;
  padding: 0 1rem;
  margin: 0.5rem;
  border: var(--border);
  border-radius: 0.5rem;
  user-select: none;
  cursor: pointer;
  text-align: center;
  cursor: pointer;
}

.button-recarga:hover{
  background-color: #dadada;
    border-style: solid;
    border-width: thin;
}
.button:hover{
    background-color: #dadada;
    border-style: solid;
    border-width: thin;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: right;

}

.toolbar a {
  margin: 0.5rem;
  margin-bottom: 2rem;
  
}

.disable{
  pointer-events:none;
  background-color: #f0f0f0;
}

.three-menu{
    height: calc(45%);
    border-bottom:var(--border);
    overflow-y: auto;
}

.property-menu{
    overflow-y:auto;
    height: calc(50%);
}

.property-root{
    display: flex;
    text-align: right;
    padding: 0.5rem;
    border-bottom: var(--border);
}

.property-name{
    width: 50%;
    text-align: left;
}

.property-value{
    width: 70%;
    text-align: right;
}

#elementosOcultosDiv{
  position:fixed;
  top:10px;
  left:10px;
  width:auto;
  height:auto;
  background-color:lightblue;  
  padding: 10px;
}

#viewer-container{
    height: 100vh;
    width: 100%;
}

#file-input{
    visibility: collapse;
}
#importCSV{
  visibility: collapse;
}

/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  /* Style the caret/arrow */
  .caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg);
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
    margin-left: 1rem
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }

/**/
.item-list-elementos-cargados{
  display: inline-block;
}
/* .divCargas {
    position: fixed;
    top:30px;
    left:10px;
    background-color: rgba(255, 255, 255, 0.267);
    border: 1px solid gray;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: auto;
    height: auto;
    text-align: center;
  } */
  .divCargas {
    position: fixed;
    top:30px;
    left:10px;
    background-color: rgba(255, 255, 255, 0.267);
    border: 1px solid gray;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: auto;
    height: auto;
    text-align: center;
  }
  
  .titleCargas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  /* .titleCargas strong {
    color: #e20a17;
  }
   */
  .titleCargas span {
    color: #e20a17;
    font-weight: bold;
  }
  
  
  .titleCargas button {
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    background-color: #f7f7f7;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  #nuevoCamion{
    float: left;
    margin-left: 20px;
    text-align: center;
    width: 30px;
    padding: 10px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    color:black;
    background-color: #f7f7f7;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  #nuevoCamion:hover{
    background-color: #afafaf;
    color: #f7f7f7;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
  }


  
  .titleCargas button:active {
    background-color: #e20a17;
    color: white;
    transition: all 0.3s ease;
  }
  
  .item-list-elementos-cargados {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .item-list-elementos-cargados li {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    background-color: #f7f7f7;
    color: #333;
  }
  .divCheck {
    position: fixed;
    bottom: 10px;
    left:10px;
    background-color: white;
    border: 1px solid gray;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: auto;
    height: auto;  
  }



  #file-name {
    padding-top: 15px;
    text-align: center;
    display: block;
    color: #e20a17
  }


  
  .header-logo {
    height: 40px;
    margin-top: 5px;
    float: right;
  }

  table.table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table.table td,
  table.table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  table.table th {
    background-color: #ddd;
  }

  ul {
    max-height: 500px;
    overflow-y: auto;
    font-size: 0.95rem;
  }

  .button-container-plans {
    z-index: 2;
    position: relative;
    left: .5rem;
    top: .5rem;
    display: flex;
    flex-direction: column;
    opacity: 0;
    background-color: chartreuse;
}


#btnCreaPrecast{
  background-color: #e20a17;
}


button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px 24px;
  border: solid 1px ;
  cursor: pointer;
  margin: 5px;
  font-size: 15px;
}


#btnNumCamiones{
  position: fixed;
  bottom: 0;
  left: 300px;
  height: 32px;
}

#btnNumCamiones:hover{
    background-color: white;
    border-style: solid;
    border-width: thin;
}


.active {
  color: red;
  display: flex;
  
  /* font-weight: bold; */
}


.item-list-elemento {
  font-size: 12px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}